/** @format */

.card {
  border: 1px solid white;
  padding: 8px;
  position: relative;
  height: 450px;
  border-radius: 5px;
  background-color: white;
}
.card-image img {
  width: 100%;
  height: 250px;
}

.card-info {
  padding: 40px 0px;
}
.card-info p,
h3 {
  margin: 0px;
  padding: 3px 0px;
}
.card button {
  border: none;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 12px 0px;
  background-color: black;
  border-radius: 5px;
  color: aliceblue;
}
.card button:hover {
  background-color: rgba(95, 110, 160, 0.479);
  color: black;
}
.product-name {
  font-weight: 700;
}
.product-price {
  font-weight: 700;
}
.product-id {
  font-weight: 700;
}
