.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
   
}

.cards{
   display: grid;
   grid-template-columns: 4fr 1fr;
}









.cart{
    background-color: rgba(128, 128, 128, 0.767);
    position: sticky;
    top: 0px;
    height: 350px;

}
.props{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
    grid-template-rows: auto;
}
.props>div{
    border: 1px solid black;
}
@media (max-width: 500px) { 
    .products{
        display: grid;
        grid-template-columns: 1fr ;
        padding-bottom: 40px;
        
    }
    .cards{
       display: flex;
       flex-direction: column;
     }
     
 }